<template>
    <div class="hello">
        <h3 class="danger">{{ msg }}</h3>
    </div>
</template>

<script>
    export default {
        name: 'hellooooooo-world',
        props: {
            msg: String
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
        color: red;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
