<template>
    <li>
        <span :class="{lt: completed}">{{ title }}</span>
        <button v-on:click="$emit('strikeOut')">Strike out</button>
        <button v-on:click="$emit('remove')">Remove</button>
        <button v-on:click="send">Send data to parent</button>
    </li>
</template>

<script>
    export default {
        props: {
            completed: Boolean,
            title: String,
            strikeOut: Function
        },
        methods: {
            send: function () {
                this.$emit('send', this.title);
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    li {
        font-weight: bold;
    }
    .lt {
        text-decoration: line-through;
        text-decoration-color: red;
    }
</style>
