<template>
    <div>
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add a todo: </label><br/>
            <input
                    v-model="todoForm.title"
                    id="new-todo"
                    placeholder="E.g. Feed the cat"
            />
            <button>Add</button>
        </form>
        <ul>
            <li
                    is="todo-item"
                    v-for="(todo, index) in todos"
                    v-bind:key="todo.id"
                    v-bind:title="todo.title"
                    v-bind:completed="todo.completed"
                    v-on:strikeOut="strikeOut(index)"
                    v-on:remove="todos.splice(index, 1)"
                    v-on:send="send"
            ></li>
        </ul>
    </div>
</template>

<script>
    import ToDoItem from "./ToDoItem";

    export default {
        components: {
            "todo-item": ToDoItem
        },
        data: function () {
            return {
                todoForm: {
                    title: ''
                },
                todos: [
                    {
                        completed: false,
                        title: 'Do the dishes',
                    },
                    {
                        completed: true,
                        title: 'Take out the trash',
                    },
                    {
                        completed: true,
                        title: 'Mow the lawn'
                    }

                ],
            }
        },
        created() {
            // fetch('https://jsonplaceholder.typicode.com/todos')
            // .then(response => response.json())
            // .then(json => {
            //     console.log(json);
            //     this.todos = json;
            // })
            // .catch(err => console.log(err));
        },
        methods: {
            addNewTodo: function () {
                this.todos.push({
                    status: this.todoForm.status,
                    title: this.todoForm.title
                });
                this.todoForm.title = '';
            },
            strikeOut: function (index) {
                console.log('index', index);
                this.todos[index].completed = true;
                this.$set(this.todos, index, this.todos[index]);
            },
            send: function (title) {
                console.log('title: ', title);
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    li {
        font-weight: bold;
    }
</style>