<template>
    <div>
        <div class="tac">
            <h1>{{greeting}}</h1>
            <img alt="Vue logo" src="./assets/logo.png">
            <HelloWorld msg="Welcome to Your Vue.js App" :class="helloWorldClass"/>
<!--            <hello-world msg="Welcome to Your Vue.js App"/>-->
            <h1>You are visitor number {{count}}</h1>
        </div>
        <div>
            <hr>
            <h4>Dynamic messages:</h4>
            <p>Message: {{ msg }}</p>
            <p v-once>This will never change: {{ msg }}</p>

            <!--HTML-->
            <hr>
            <h4>HTML:</h4>
            <p>Using mustaches: {{ rawHtml }}</p>
            <p>Using v-html directive: <span v-html="rawHtml"></span></p>

            <hr>
            <h4>Dynamic properties:</h4>
            <p v-bind:id="dynamicId">This element has dynamicId which is {{dynamicId}}</p>
            <p v-bind:id="'list-' + dynamicId">This element has dynamicId which is {{'list-' + dynamicId}}</p>
            <p>
                <button v-bind:disabled="isButtonDisabled">Button</button>
            </p>


            <hr>
            <h4>Expressions:</h4>
            <p>{{ number + 1 }}</p>
            <p>{{ ok ? 'YES' : 'NO' }}</p>
            <p>{{ msg.split('').reverse().join('') }}</p>

            <hr>
            <h4>Computed:</h4>
            <p>{{ reversedMessage }}</p>

            <hr>
            <h4>If-else:</h4>
            <p v-if="seen">Now you see me</p>
            <p v-else>Now you don't see me</p>

            <hr>
            <h4>Form:</h4>
            <form v-on:submit.prevent="onSubmit">
                <label>
                    <input name="myInput" v-model="form.name" type="text">
                </label>
                <button type="submit" @click.prevent="doSomething">Submit</button>
            </form>


            <hr>
            <h4>Shorthands:</h4>
            <!-- full syntax -->
            <p>
                <a v-bind:href="url">{{url}}</a>
            </p>
            <p>
                <!-- shorthand -->
                <a :href="url">{{url}}</a>
            </p>
            <p>
                <!-- full syntax -->
                <a v-on:click="doSomething"> Call doSomething </a>
            </p>
            <p>
                <!-- shorthand -->
                <a @click="doSomething"> Call doSomething </a>
            </p>

            <hr>
            <h4>Styling:</h4>
            <p v-bind:class="{ 'danger': isButtonDisabled }">Style me</p>
            <p v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">Style me</p>
            <p v-bind:style="styleObject">Style me</p>
            <p v-bind:style="[styleObject, {fontSize: '20px'}]">Style me</p>

            <h4>Lists:</h4>
            <h5>Example 1:</h5>
            <ul id="example-1">
                <li v-for="item of items" :key="item.message">
                    {{ item.message }}
                </li>
            </ul>
            <ul id="example-2">
                <li v-for="(item, index) of items" :key="index">
                    {{index}}: {{ item.message }}
                </li>
            </ul>
            <h5>Example 3:</h5>
            <ul id="example-3">
                <li v-for="(value, name, index) in form" :key="index">
                    {{index}}. {{ name }} - {{ value }}
                </li>
            </ul>

            <hr>
            <h4>ToDo Example:</h4>
            <router-link to="/todo-demo">ToDo Demo</router-link>

            <hr>
            <h4>Slots:</h4>
            <custom-link :url="url">This is custom link</custom-link><br>
            <custom-link :url="url"></custom-link><br>


            <hr>
            <h4>Filters:</h4>
            {{'date:' | capitalize}}{{'11-11-2019' | date }}

            <hr>
            <h4>Mixins:</h4>
            {{mixintext}}

            <hr>
            <h4>Hooks:</h4>
            <a href="https://vuejs.org/v2/api/#Options-Lifecycle-Hooks" target="_blank">Lifecycle hooks</a><br>
            <a href="https://alligator.io/vuejs/component-lifecycle/" target="_blank">Lifecycle hooks graph</a>

            <br><br><br><br><br><br><br>
        </div>
    </div>
</template>

<script>
    import HelloWorld from './components/HelloWorld.vue'
    import CustomLink from "./components/CustomLink";
    import SomeMixin from "./commons/some.mixin.js";

    export default {
        name: 'Home',
        mixins: [ SomeMixin ],
        components: {
            HelloWorld,
            'custom-link': CustomLink
        },
        data: function () {
            return {
                msg: 'Hi',
                dynamicId: 'myId',
                isButtonDisabled: true,
                number: 7,
                ok: true,
                rawHtml: '<b>This is bold</b>',
                count: 0,
                url: 'https://dir.bg',
                form: {
                    name: '',
                    years: ''
                },
                seen: false,
                helloWorldClass: 'i',
                activeColor: 'red',
                fontSize: 14,
                styleObject: {
                    color: 'blue',
                    fontSize: '13px'
                },
                items: [
                    {message: 'Foo'},
                    {message: 'Bar'}
                ],
                // mixintext: ''
            }
        },
        mounted() {
            ++this.count;
            this.hello();
        },
        methods: {
            onSubmit: function () {
                console.log('onSubmit');
            },
            doSomething: function () {
                console.log('doSomething');
            },
            // greeting: function () {
            //     console.log('greeting');
            //     return `${this.msg} ${this.form.name}`;
            // },
        },
        computed: {
            reversedMessage: function () {
                return this.msg.split('').reverse().join('')
            },
            greeting: function () {
                console.log('greeting');
                return `${this.msg} ${this.form.name}`
            }
        },
        watch: {
            "form.name": function () {
                console.log('name is changed so send request');
            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        margin-top: 60px;
    }
    .tac {
        text-align: center;
    }
    .i {
        font-style: italic;
    }

    .danger {
        color: orange
    }

</style>
